<ul class="list-group d-grid gap-3 mt-5" id="members-list" style="background-color: #303030; border:0;">

<!-- Padouva -->
  <li class="list-group-item"style="background-color: #303030; border:0;">
    <div class="card border-0 mb-3">
      <div class="row g-0 align-items-center justify-content-center shadow-lg" style="background-color: #292929; color: #e9dfdc;">
        <div class="col-md-2">
          <%= image_tag("members_padouva.jpg", class:"img-fluid rounded-start") %>
        </div>
        <div class="col-md-8">
          <style> #more1 {display: none;}</style>
          <div class="card-body .col-xs-12 .col-md-8">
            <h4 class="card-title">Μαρία Παδουβά</h4>
            <h5 class="card-title">Πρόεδρος - Φιλόλογος</h5>
            <div class="card-text">
              <p>Γεννήθηκα στην Αθήνα το 1959. Η μητέρα μου είχε καταγωγή από τις Μαργαρίτες και ο πατέρας μου από τον Ορθέ Μυλοποτάμου. Αποφοίτησα από το Τμήμα Μέσων και Νέων Ελληνικών Σπουδών της Φιλοσοφικής Σχολής του Πανεπιστημίου Ιωαννίνων και στη συνέχεια φοίτησα στην ECOLE DES HAUTES ETUDES EN SCIENCES SOCIALES, στο Παρίσι απ’ όπου πήρα το Δίπλωμα της Σχολής από τον τομέα της Εθνολογίας. Συνέχισα τις μεταπτυχιακές σπουδές μου στο Πανεπιστήμιο PARIS 1 PANTHEON-SORBONNE όπου και έλαβα το D.E.A. από τον τομέα της Βυζαντινής και Μεταβυζαντινής Ιστορίας<span id="dots1">...</span><span id="more1">.<br>Η έρευνα στον τομέα της Εθνολογίας και της Ιστορίας έγινε με πεδίο αναφοράς τα χωριά του Μυλοποτάμου Κρήτης και ιδιάιτερα τις Μαργαρίτες και για το λόγο αυτό ξεκίνησα τις πρώτες συνεντεύξεις με κατοίκους της περιοχής τη δεκαετία του 1980. Το θέμα της έρευνάς μου ήταν η Κατοικία και η Οικογένεια στον Ορεινό και Ημιορεινό Μυλοπόταμο. Στο διάστημα αυτό εργάστηκα ερευνητικά ως εθνολόγος σε προγράμματα στο Πάντειο Πανεπιστήμιο και στο Μουσείο Κρητικής Εθνολογίας, σε συνεργασία με το Χριστόφορο Βαλλιάνο, στους Βώρους Ηρακλείου, με θέμα την Κεραμική Τέχνη στα χωριά της Κρήτης. (Ειδικότερα Μαργαρίτες και Θραψανό).<br>Υπηρετώ στην Δημόσια Δευτεροβάθμια Εκπαίδευση ως φιλόλογος από το 1994 και έχω δύο παιδιά. Το θέρος του 2017, εγκαταστάθηκα στις Μαργαρίτες και μετατέθηκα στο Γυμνάσιο Γαράζου Μυλοποτάμου, του οποίου είμαι ως σήμερα διευθύντρια. Ενας από τους σημαντικότερους λόγους για τον οποίο επιδίωξα και πραγματοποίησα την επιστροφή στον τόπο καταγωγής μου, ήταν η συνέχιση της εθνολογικής καταγραφής, η συλλογή προφορικών αφηγήσεων, οικογενειακών ιστορικών και ιστορικών ζωής, όπως και η καταγραφή τεχνογνωσίας και πρακτικών που δεν ασκούνται πλέον όσο αφορά τις τέχνες, τη μεταποίηση προιόντων, την καλλιέργεια της γης… Επίσης είχα την ισχυρή πεποίθηση πως αυτές οι διαδικασίες πρέπει να αποτελέσουν αντικείμενο ομαδικής δουλειάς από μέλη την ίδιας της Κοινότητας και να διαμορφώσουν με τη μορφή των αρχείων, αλλά και μέσα από ζωντανά εργαστήρια, τρόπο σύνδεσης με το παρελθόν, την τοπική Ιστορία και την ταυτότητά της ίδιας της Κοινότητας και των μελών της.</span></p>
              <button class="btn btn-outline-light" onclick="myFunction1()" id="myBtn1">More</button>
              <script>
              function myFunction1() {
                var dots = document.getElementById("dots1");
                var moreText = document.getElementById("more1");
                var btnText = document.getElementById("myBtn1");

                if (dots.style.display === "none") {
                  dots.style.display = "inline";
                  btnText.innerHTML = "More";
                  moreText.style.display = "none";
                } else {
                  dots.style.display = "none";
                  btnText.innerHTML = "Less";
                  moreText.style.display = "inline";
                }
              }
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>

<!-- Leontidis Ch -->
  <li class="list-group-item" style="background-color: #303030; border:0;">
    <div class="card border-0 mb-3 p-3" style="background-color: #303030;">
      <div class="row g-0 align-items-center justify-content-center shadow-lg" style="background-color: #292929; color: #e9dfdc;">
        <div class="col-md-2">
          <%= image_tag("members_cleontidis.jpg", class:"img-fluid rounded-start") %>
        </div>
        <div class="col-md-8">
          <style> #more2 {display: none;}</style>
          <div class="card-body .col-xs-12 .col-md-8">
            <h4 class="card-title">Χαράλαμπος Λεοντίδης</h4>
            <h5 class="card-title">Γραμματέας - Ηλεκτρολόγος Μηχανικός και Μηχανικός Η/Υ</h5>
            <div class="card-text">
              <p>Γεννημένος στην Αθήνα, με καταγωγή από τις Μαργαρίτες, από επισκέπτης έγινα κάτοικος του χωριού το 2020. Είμαι απόφοιτος της Σχολής Ηλεκτρολόγων Μηχανικών και Μηχανικών Ηλεκτρονικών Υπολογιστών του Εθνικού Μετσόβιου Πολυτεχνίου. Προβληματσμένος από το μέλλον των απομονωμένων μικρών κοινοτήτων της ελληνικής επαρχίας επέλεξα να παρακολουθήσω και να ολοκληρώσω το Διεπιστημονικό Πρόγραμμα Μεταπτυχιακών Σπουδών "Περιβάλλον και Ανάπτυξη των Ορεινών Περιοχών" του Εθνικού Μετσόβιου Πολυτεχνείου<span id="dots2">...</span><span id="more2"> στο οποίο ασχολήθηκα με την μελέτη σεναρίων χωροθέτησης σταθμών πρόληψης των πλημμυρών στην ΠΕ Ρεθύμνου. Ο Ρόδακας για εμένα αποτελεί εκτός από στοίχημα πολιτική στάση, ως μια προσπάθεια υποστήριξης της μικρής κοινότητας και ενίσχυσης της τοπικής παραγωγής πολιτισμού και γνώσης.</span></p>
              <button class="btn btn-outline-light" onclick="myFunction2()" id="myBtn2">More</button>
              <script>
              function myFunction2() {
                var dots = document.getElementById("dots2");
                var moreText = document.getElementById("more2");
                var btnText = document.getElementById("myBtn2");

                if (dots.style.display === "none") {
                  dots.style.display = "inline";
                  btnText.innerHTML = "More";
                  moreText.style.display = "none";
                } else {
                  dots.style.display = "none";
                  btnText.innerHTML = "Less";
                  moreText.style.display = "inline";
                }
              }
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>

<!-- Fasouli E -->
  <li class="list-group-item" style="background-color: #303030; border:0;">
    <div class="card border-0 mb-3">
      <div class="row g-0 align-items-center justify-content-center shadow-lg" style="background-color: #292929; color: #e9dfdc;">
        <div class="col-md-2">
          <%= image_tag("members_efasouli.jpg", class:"img-fluid rounded-start") %>
        </div>
        <div class="col-md-8">
          <style> #more2 {display: none;}</style>
          <div class="card-body .col-xs-12 .col-md-8">
            <h4 class="card-title">Ειρήνη Φασούλη</h4>
            <h5 class="card-title">Ταμείας - Ελεύθερη Επαγγελματίας</h5>
            <div class="card-text">
              <p>Ονομάζομαι Φασούλη Ειρήνη. Γεννήθηκα και ζω στις Μαργαρίτες. Είμαι παντρεμένη και έχω αποκτήσει τρία παιδιά. Δραστηριοποιούμαι επαγγελματικά στο χωριό, στον τομέα του τουρισμού. Αγαπώ το χωριό μου και θεωρώ σημαντική τόσο την ανάδειξη της τοπικής ιστορίας όσο και τη συνέχεια της ζωής του χωριού μέσα από τους νέους. Αυτούς τους στόχους επιθυμώ να πραγματοποιήσω μέσα από τη δουλειά μου στο Ρόδακα. Είμαι ευγνώμων που τους δύσκολους καιρούς που ζούμε μου δίνεται αυτή η ευκαιρία.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>

<!-- Alexakis -->
  <li class="list-group-item" style="background-color: #303030; border:0;">
    <div class="card border-0 mb-3">
      <div class="row g-0 align-items-center justify-content-center shadow-lg" style="background-color: #292929; color: #e9dfdc;">
        <div class="col-md-2">
          <%= image_tag("members_alexakis.jpg", class:"img-fluid rounded-start") %>
        </div>
        <div class="col-md-8">
          <style> #more3 {display: none;}</style>
          <div class="card-body .col-xs-12 .col-md-8">
            <h4 class="card-title">Μιχάλης Αλεξάκης</h4>
            <h5 class="card-title">Μέλος - Σκηνοθέτης & Μοντέρ Κινηματογράφου και Βίντεο</h5>
            <div class="card-text">
              <p>Απόφοιτος του τμήματος Δημοσιογραφίας και ΜΜΕ του Αριστοτέλειου Πανεπιστημίου Θεσσαλονίκης. Μεταπτυχιακό στο Sheffield Hallam University, στις Screen Arts με εξειδίκευση στη σκηνοθεσία και το μοντάζ. Από το 2004 εργάζομαι ως ελεύθερος επαγγελματίας στο χώρο του κινηματογράφου και του video υπηρετώντας διάφορα πόστα, αλλά με κύρια εξειδίκευση στο μοντάζ, τη σκηνοθεσία και τα κινούμενα γραφικά<span id="dots3">...</span><span id="more3">.<br>Έχω συμμετάσχει κατά καιρούς σε διάφορα σημαντικά κινηματογραφικά εγχειρήματα και έχω συνεργαστεί ως μοντέρ με σημαντικούς σκηνοθέτες, όπως ο Θοδωρής Παπαδουλάκης, Βασίλης Κεχαγιάς, Πάνος Καρκανεβάτος, Χριστόφορος Παπακαλιάτης, Γιαννης Σμαραγδής και άλλοι. Διαθέτω επίσης πλούσια εμπειρία στο χώρο της τηλεόρασης, καθώς έχω εργαστεί ως μοντέρ σε διάφορες τηλεοπτικές σειρές. Ενδεικτικά αναφέρω τις παρακάτω: Μίλα μου Βρώμικα (MEGA), Μπαμπά μην τρέχεις (MEGA), Οι μουσικές της Μεσογείου (ΕΡΤ), Σεφ στον Αέρα (ΣΚΑΙ) και άλλες. Πέρα από όλα τα παραπάνω, έχω δημιουργήσει πολλά μουσικά videos, με καλλιτέχνες όπως ο Παύλος Παυλίδης, Going Through, Ρίτα Αντωνοπούλου, Gus, Γιώργης Μανωλάκης, Βαγγελιώ Φασουλάκη, Babel Trio και άλλους. Παράλληλα έχω δημιουργήσει διαφημιστικά σποτ για φορείς όπως η Περιφέρεια Κρήτης ή ιδιωτικές εταιρίες όπως τα Πλαστικά Κρήτης, εταιρικά videos και ταινίες μικρού μήκους. Από το Σεπτέμβρη του 2013 και έως τον Ιούνιο 2016 υπήρξα εισηγητής πολύμηνων σεμιναρίων γύρω από τις τεχνικές του κινηματογράφου στα μέλη της ΕΦΕ Κρήτης. Έχω επίσης εργαστεί και ως δημοσιογράφος – ανταποκριτής για το “MEGA CHANNEL”.</span></p>
              <button class="btn btn-outline-light" onclick="myFunction3()" id="myBtn3">More</button>
              <script>
              function myFunction3() {
                var dots = document.getElementById("dots3");
                var moreText = document.getElementById("more3");
                var btnText = document.getElementById("myBtn3");

                if (dots.style.display === "none") {
                  dots.style.display = "inline";
                  btnText.innerHTML = "More";
                  moreText.style.display = "none";
                } else {
                  dots.style.display = "none";
                  btnText.innerHTML = "Less";
                  moreText.style.display = "inline";
                }
              }
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>

<!-- Leontidis A -->
  <li class="list-group-item" style="background-color: #303030; border:0;">
    <div class="card border-0 mb-3">
      <div class="row g-0 align-items-center justify-content-center shadow-lg" style="background-color: #292929; color: #e9dfdc;">
        <div class="col-md-2">
          <%= image_tag("home_logo.png", class:"img-fluid rounded-start") %>
        </div>
        <div class="col-md-8">
          <style> #more2 {display: none;}</style>
          <div class="card-body .col-xs-12 .col-md-8">
            <h4 class="card-title">Αντώνης Λεοντίδης</h4>
            <h5 class="card-title">Μέλος - Μουσικός</h5>
            <div class="card-text">
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>

<!-- Papadakis -->
  <li class="list-group-item" style="background-color: #303030; border:0;">
    <div class="card border-0 mb-3 p-3" style="background-color: #303030;">
      <div class="row g-0 align-items-center justify-content-center shadow-lg" style="background-color: #292929; color: #e9dfdc;">
        <div class="col-md-2">
          <%= image_tag("members_papadakis.jpg", class:"img-fluid rounded-start") %>
        </div>
        <div class="col-md-8">
          <style> #more4 {display: none;}</style>
          <div class="card-body .col-xs-12 .col-md-8">
            <h4 class="card-title">Κώστας Παπαδάκης</h4>
            <h5 class="card-title">Μέλος - Θεολόγος</h5>
            <div class="card-text">
              <p>Γεννήθηκα στην Αθήνα από γονείς με καταγωγή από τις Μαργαρίτες. Σπούδασα Θεολογία στο Αριστοτέλειο Πανεπιστήμιο Θεσσαλονίκης και έκανα μεταπτυχιακές σπουδές ειδίκευσης στην Εκκλησιαστική Ιστορία. Παρακολούθησα σεμινάρια ελληνικής παλαιογραφίας στο ΜΙΕΤ και στο Πατριαρχικό Ιδρυμα Πατερικών Μελετών και ιστορικών επιστημών στο Κέντρο Βυζαντινών Σπουδών του Εθνικού Ιδρύματος Ερευνών.<span id="dots4">...</span><span id="more4"><br> Τα ερευνητικά μου ενδιαφέρονται στρέφονται στο χώρο της εκκλησιαστικής ιστορίας, της ιστορίας του βιβλίου και των βιβλιοθηκών με έμφαση τα εκκλησιαστικά αρχεία και τις βιβλιοθήκες. Εργάστηκα στην 9η Εφορεία Βυζαντινών Αρχαιοτήτων (Θεσσαλονίκη). Από το 1992 ζω και δραστηριοποιούμαι στην Κρήτη. Εργάστηκα ως υπάλληλος βιβλιοπωλείου, ως καθηγητής στη μέση εκπαίδευση, ως τεχνίτης ανασκαφών στην Ελεύθερνα και από το 1998 ως σήμερα ως βιβλιοθηκονόμος στο τμήμα σπανίων βιβλίων της βιβλιοθήκης του Πανεπιστημίου Κρήτης. Από το 1995 ως το 1998 συμμετείχα στο κοινοτικό συμβούλιο της Κοινότητας Μαργαριτών. Η συμμέτοχή μου στο «Ρόδακα» αποτελεί μια ευκαιρία σύζευξης της μελέτης της προφορικής παράδοσης και του υλικού μας πολιτισμού με τη βιβλιογραφική και αρχειακή έρευνα.</span></p>
              <button class="btn btn-outline-light" onclick="myFunction4()" id="myBtn4">More</button>
              <script>
              function myFunction4() {
                var dots = document.getElementById("dots4");
                var moreText = document.getElementById("more4");
                var btnText = document.getElementById("myBtn4");

                if (dots.style.display === "none") {
                  dots.style.display = "inline";
                  btnText.innerHTML = "More";
                  moreText.style.display = "none";
                } else {
                  dots.style.display = "none";
                  btnText.innerHTML = "Less";
                  moreText.style.display = "inline";
                }
              }
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
<!-- Skepetzaki Athina -->
  <li class="list-group-item" style="background-color: #303030; border:0;">
    <div class="card border-0 mb-3">
      <div class="row g-0 align-items-center justify-content-center shadow-lg" style="background-color: #292929; color: #e9dfdc;">
        <div class="col-md-2">
          <%= image_tag("home_logo.png", class:"img-fluid rounded-start") %>
        </div>
        <div class="col-md-8">
          <style> #more2 {display: none;}</style>
          <div class="card-body .col-xs-12 .col-md-8">
            <h4 class="card-title">Αθηνά Σκεπετζάκη</h4>
            <h5 class="card-title">Μέλος</h5>
            <div class="card-text">
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
<!-- Tzanidakis -->
  <li class="list-group-item" style="background-color: #303030; border:0;">
    <div class="card border-0 mb-3">
      <div class="row g-0 align-items-center justify-content-center shadow-lg" style="background-color: #292929; color: #e9dfdc;">
        <div class="col-md-2">
          <%= image_tag("home_logo.png", class:"img-fluid rounded-start") %>
        </div>
        <div class="col-md-8">
          <style> #more2 {display: none;}</style>
          <div class="card-body .col-xs-12 .col-md-8">
            <h4 class="card-title">Νίκος Τζανιδάκης</h4>
            <h5 class="card-title">Μέλος</h5>
            <div class="card-text">
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
<!-- Fasouli V -->
  <li class="list-group-item" style="background-color: #303030; border:0;">
    <div class="card border-0 mb-3">
      <div class="row g-0 align-items-center justify-content-center shadow-lg" style="background-color: #292929; color: #e9dfdc;">
        <div class="col-md-2">
          <%= image_tag("home_logo.png", class:"img-fluid rounded-start") %>
        </div>
        <div class="col-md-8">
          <style> #more2 {display: none;}</style>
          <div class="card-body .col-xs-12 .col-md-8">
            <h4 class="card-title">Βαγγελιώ Φασούλη</h4>
            <h5 class="card-title">Μέλος</h5>
            <div class="card-text">
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
